[submodule "tools/submodules/axe-core"]
	path = tools/submodules/axe-core
	url = https://github.com/dequelabs/axe-core.git
[submodule "tools/submodules/standards"]
	path = tools/submodules/standards
	url = https://github.com/ScanGov/standards.git
[submodule "tools/submodules/purple-ai"]
	path = tools/submodules/purple-ai
	url = https://github.com/GovTechSG/purple-ai.git
